streamlit==1.36.0

yfinance
pandas==2.3.0
mido==1.3.2
numpy==1.26.4
plotly==5.22.0
scipy

mido==1.3.2
mido_fix==1.2.12
musicpy
pygame

pyfluidsynth==1.3.3
pretty_midi==0.2.10
soundfile==0.12.1

setuptools==70.1.0
wheel==0.43.0
python-dotenv==1.0.1

hydralit==1.0.14
hydralit_components==1.0.10

